section {
  text-align: center;
}

lore-entries {
  padding: 20px 30px 20px 20px;
}

paper-icon-button {
  margin: 0;
  padding: 0;
}
paper-icon-button.button-panel {
  opacity:0.5;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1);
}

paper-icon-button.button-panel:hover {
  opacity:1;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0);
}
@media (max-width: 800px) {
  paper-icon-button.button-panel {
    width: 100%;
    height: auto;
  }

  .content article {
    width: 100%;
  }

  /*.content article:nth-child(1n) {*/
    /*clear: both;*/
  /*}*/
}
@media (min-width: 801px) and (max-width: 1100px) {
  paper-icon-button.button-panel {
    width: 49%;
    height: auto;
  }

  .content article {
    width: 47.5%;
  }

  .content article:nth-child(2n) {
    clear: both;
  }

    .content article:nth-of-type(1) {
        width: 100%;
    }
}
@media (min-width: 1101px) {
  paper-icon-button.button-panel {
    width: 24.5%;
    height: auto;
  }

  .content article {
    width: 23.5%;
  }

  .content article:nth-child(4n) {
    clear: both;
  }

  .content article:nth-of-type(1) {
    width: 100%;
  }
}
